{% extends "blog/base.html" %}
{% block content %}

<h1 class="posttitle loader">{{ post.title }}</h1>

{% if post.published_date %}
<div class="date postdate">
    {{ post.published_date }}
</div>
{% else %}
<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

<p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>

{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
    <span class="glyphicon glyphicon-remove"></span>
</a>
{% endif %}

<hr>
<a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
<div class="container">
    {% for comment in post.comments.all %}

    <br>
        {% if user.is_authenticated or comment.approved_comment %}
        <p>{{ comment.create_date }}</p>

            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            {{ comment.approved_comment }}
            {% endif %}

        <p>{{ comment.text|safe|linebreaksbr }}</p>
        <p>Posted By: {{ comment.author }}</p>
        
        {% endif %}

    {% empty %}
    <p>No Comment</p>

    {% endfor %}

</div>
{% endblock %}